


// استيراد ملف breakpoints
@import './breakPoints';

// ضبط الـ box-sizing لجميع العناصر
* {
  box-sizing: border-box;
}



// تنسيقات للجسم (body)
body {
  background-attachment: fixed; /* تثبيت الخلفية عند التمرير */
  background-image: url("../images/background.jpg"); /* تأكد من أن المسار صحيح */
  background-repeat: no-repeat; /* منع تكرار الصورة */
  background-size: cover; /* ضبط الخلفية لتغطية العنصر بالكامل */
  background-position: center center; /* مركزية الخلفية */
  background-color: #2c2c2c; /* لون الخلفية في المساحات غير المشغولة بالصورة */
  font-family: "REM", sans-serif; /* تعيين نوع الخط */
}

.container {
  min-height: 100vh;

  .site-header {
    background-color: #333;
    color: #fff;
    padding: 20px;

    .site-title {
      font-size: 23px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      // استخدام المزيج للاستجابة لحجم الشاشات
      @include respond-to("sm") {
        font-size: 48px;
      }
    }
  }

  #form_row {
    width: 90%;

    // استجابة لحجم الشاشة
    @include respond-to("lg") {
      width: 50%;
    }

    // إخفاء الأخطاء بشكل افتراضي
    #city_error {
      display: none;
    }

    #date_error {
      display: none;
    }
  }
}
